
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Cookie olustur ve deger ata", "CreateCookie")<br />
        @Html.ActionLink("Cookie Degeri oku", "ReadCookieValue")<br />
        @Html.ActionLink("Cookie Degeri Update Et", "UpdateCookieValue")<br />
        @Html.ActionLink("Cookieyi Degeri sil", "DeleteCookieValue")<br />
        @Html.ActionLink("Cookieyi Degeri sil", "DeleteCookieValue2")<br />
    </div>
</body>
</html>
