@model Models.Models.StudentViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientSideValidationJquery</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @*@Html.ValidationSummary()*@

            @Html.LabelFor(m => m.StudentName)
            @Html.TextBoxFor(m => m.StudentName)
            @Html.ValidationMessageFor(m => m.StudentName)
            <br />

            @Html.LabelFor(m => m.Avarage)
            @Html.TextBoxFor(m => m.Avarage)
            @Html.ValidationMessageFor(m => m.Avarage)
            <br />


            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            <br />

            @Html.LabelFor(m => m.Email2)
            @Html.TextBoxFor(m => m.Email2)
            @Html.ValidationMessageFor(m => m.Email2)
            <br />

            <input type="submit" name="gonder" value="Gönder" />
        }

    </div>
    <script src='@Url.Content("~/Scripts/jquery-1.10.2.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type="text/javascript"></script>
     
</body>
</html>
